@font-face {
    font-family: "Inter-VariableFont", sans-serif;
    src: url(./assets/font/Inter-VariableFont_slnt\wght.ttf);
}

@font-face {
    font-family: "Merrieweather", sans-serif;
    src: url(./assets/font/Merriweather-Light.ttf);
}

$color1: whitesmoke;
$color2: rgb(34, 32, 32);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter-variableFont";
}

body {
    background: url(./assets/images/bg.jpg) fixed center/cover;
    height: 100%;
    text-align: center;
    max-width: 1100vw;
}




h1 {
    color: $color1;
    text-transform: uppercase;
    padding-bottom: 30px;
}

header {
    margin: 100px 70px 45px;
    color: $color1;

    i {
        margin-top: 30px;
        color: $color1;
    }

    a {
        border: 1px solid $color1;
        border-radius: 50px;
        padding: 5px 8px;
    }

    p {
        font-style: italic;
    }
}

nav {
    width: 85%;
    margin: 0 auto;
    height: 55px;
    background-color: rgba(131, 131, 131, 0.233);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: $color1;
    transition: 0.3s;
    a {
        color: $color1;
        text-decoration: none;
    
        &:hover {
            color: $color2;
        }
    }

    .nav-left {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.8rem;
    }

    .nav-right {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.8rem;

        li {
            padding: 0 10px;
        }
    }
}

main {
    width: 85%;
    margin: 0 auto;
    background-color: whitesmoke;
}

section {
    padding: 50px;
}

p {

    line-height: 2rem;
}

.date {
    font-style: normal;
    text-align: center;
}

.container {
    width: 70%;
    margin: 30px auto;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 40%;
        background-color: #ccc;
        transform: translate(83%, 15px);
    }

    &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 40%;
        background-color: #ccc;
        top: 15px;
        right: 83%;
    }
}

h2 {
    margin: 30px;
    font-size: 2rem;
}

.img-pico01 {
    background: url(./assets/images/pic01.jpg) center/cover;
    height: 500px;
    width: 100%;
}

.un {
    text-align: center;
}

.button {
    margin: 65px auto 40px;
}

button,
.button {
    background-color: whitesmoke;
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.deux {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #ccc;
        top: 0;
        right: 0;
    }

    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: #ccc;
        right: 50%;
    }
}

.deux>div {
    width: 43%;

    p {
        text-align: left;
        font-style: none;
        margin: 10px auto;
    }

    h3 {
        margin: 10px 0 20px;
        font-weight: 800;
    }

    p.date {
        text-align: center;
    }

    button {
        display: block;

        margin: 30px auto;
    }
}

.img-pico02 {
    background: url(./assets/images/pic02.jpg) center/cover;
    height: 200px;
}

.img-pico03 {
    background: url(./assets/images/pic03.jpg) center/cover;
    height: 200px;
}

footer {
    color: gray;
    width: 85%;
    margin: 20px auto 30px;
    background-color: $color1;
    display: flex;
    justify-content: center;
    text-align: left;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: #ccc;
        right: 50%;
    }
}

form,
footer section {
    width: 50%;
    margin: 20px 20px;

    form input,
    textarea {
        width: 97%;
        resize: none;
        border-color: gray;
    }

    li {
        padding: 10px;
        font-weight: 700;
        font-size: 0.8rem;
    }

    .button {
        color: gray;
        border-color: gray;
        margin-left: 10px;
    }
}

footer section {
    width: 50%;
    padding: 10;
    margin: 0;
    position: relative;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px;

    ul {
        display: flex;
        color: $color2;

        li a {
            color: $color2;
            border: 1px solid #ccc;
            border-radius: 50px;
            padding: 10px 12px;

            i {
                color: $color2;
               

            }
        }
    }

}

footer::before {
    content: "";
    height: 1px;
    width: 50%;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    top: 25%;
}